In [1]:
import pandas as pd
import json

In [2]:
df_cleaned_all = pd.read_json('./datasets/final_with_improved_cmdi_completed_cleaned.json')
df_cleaned_valid = pd.read_json('./datasets/valid_url_routes.json')

In [4]:
df_cleaned_all

                                                  pattern   type
0       crteyreti=wsn&et3tf6shov=tdsviee y fum$oh3;ore...  valid
1                                                 *;q=0.7  valid
2                                      nhgiopie/7.8.4.7.0  valid
3       /dyylkl.xd9cpu/4ot0ta/ts6xnrp1/hssh/a2cuerht/s...  valid
4       /2m6vlb1r37jspc/cwvv/mbar/oqrd0/msc/etceebwgi/...  valid
...                                                   ...    ...
102363                                 /news-and-updates/  valid
102364                     /student-consumer-information/  valid
102365  /academics/program-finder/?_program_format=online  valid
102366                                 /website-feedback/  valid
102367                                           /alumni/  valid

[102368 rows x 2 columns]

In [5]:
df_cleaned_valid

                                                pattern   type
0              /wiki/wikipedia:former_featured_articles  valid
1                      /wiki/talk:main_page/archive_204  valid
2                                    /wiki/user:wehwalt  valid
3                               /wiki/special:userlogin  valid
4     /w/index.php?title=special:downloadaspdf&page=...  valid
...                                                 ...    ...
6067                                 /news-and-updates/  valid
6068                     /student-consumer-information/  valid
6069  /academics/program-finder/?_program_format=online  valid
6070                                 /website-feedback/  valid
6071                                           /alumni/  valid

[6072 rows x 2 columns]

In [6]:
merge_df = pd.concat([df_cleaned_all,df_cleaned_valid], ignore_index=True)

In [7]:
merge_df

                                                  pattern   type
0       crteyreti=wsn&et3tf6shov=tdsviee y fum$oh3;ore...  valid
1                                                 *;q=0.7  valid
2                                      nhgiopie/7.8.4.7.0  valid
3       /dyylkl.xd9cpu/4ot0ta/ts6xnrp1/hssh/a2cuerht/s...  valid
4       /2m6vlb1r37jspc/cwvv/mbar/oqrd0/msc/etceebwgi/...  valid
...                                                   ...    ...
108435                                 /news-and-updates/  valid
108436                     /student-consumer-information/  valid
108437  /academics/program-finder/?_program_format=online  valid
108438                                 /website-feedback/  valid
108439                                           /alumni/  valid

[108440 rows x 2 columns]

In [8]:
merge_df.to_json('./datasets/final_dataset_waf_version_2.json',)